body {
  background-color: rgb(155, 124, 155);
}
.app {
  background-color:#c4ad9e;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}
.crossed {
  text-decoration: line-through 2px rgb(204, 104, 17);
  background-color: bisque;
  -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: red;
  -webkit-text-decoration-thickness:2px;
}
h1{
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}
ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}
input {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
  width: 80%;
  max-width: 350px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
button {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;  
  align-items: center;      
  gap: 10px;                
}
.add {
  margin-top: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  background-color: rgb(224, 131, 224);
  font-size: 16px;
}
.delete {
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  background-color: #b6665d;
}
@media all and (max-width: 600px) {
  body {
    margin: 0;
  }
  .app {
    width: 94%;    
    margin: 0 auto;
    min-height: 100vh;
    padding: 16px 12px 32px;
    box-sizing: border-box;
  }
  .app img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    font-size: 24px;
    text-align: center;
    margin: 16px 0;
  }
  input {
    width: 100%;
    font-size: 14px;
  }
  .container {
    width: 100%;
  }

  .add,
  .delete {
    width: 100%;
    font-size: 15px;
  }
  ul {
    padding-left: 0; 
  }

  li {
    font-size: 14px;
    padding: 8px 10px;
  }
}